* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* HEADER */

.navigation-bar {
    background-color: #001632;
}


/* MAIN LAYOUT */

.container {
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    
}

.center-wrapper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.boolean-laptop {
    min-width: 60px;
    min-height: 60px;
    border: 1px solid black;
}

p {
    padding-top: 20px;
}




/* IMAGES */

.pc-image {
    min-width: 100%;
    width: 215px;
    height: 300px;
}

.logo-image-nav {
    border-radius: 50%;
    height: 70px;
    width: 70px;
}

.logo-image {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: relative;
    left: 230px;
    bottom: 290px;
}

.github-image {
    padding-left: 110px;
}

.twitter-image {
    padding-left: 15px;
}


/* FOOTER */

footer {
    padding: 30px;
    background-color: #001632
}